@import '../../../config-scss/variables.scss';

#group-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 60px;

    .title-projects {
        position: relative;
    
        h3 {
          position: relative;
          display: inline-block;
          margin-left: 50px;
          padding-bottom: 10px;
          color: $light-color-blue;
    
          &:after {
            content: "";
            position: absolute;
            bottom: 0px; 
            left: 0;
            width: 100%;
            height: 3px;
            background-image: linear-gradient(to right, #517db6, #ac23ce);
          }
        }
      }

    #repository-github{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon{
        cursor: pointer;

        a{

          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 0px;
          transition: all 0.3s;

          &:hover{
            opacity: 0.7;
          }

          img{
            width: 60%;
          }
        }

      }

      p{
        color: $light-color-blue;
        padding: 10px 0px;
      }
    }
}