@import '../../../config-scss/variables.scss';

#group-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 80px;

    .title-projects {
        position: relative;
    
        h3 {
          position: relative;
          display: inline-block;
          margin-left: 50px;
          padding-bottom: 10px;
    
          &:after {
            content: "";
            position: absolute;
            bottom: 0px; 
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #102e4a, #23ce6b);
          }
        }
      }
}