<div class="group-skills">
    <div class="line-skills1">
        <img src="../../../../assets/brands/html5.svg" alt="html5 Icon">
        <img src="../../../../assets/brands/css3.svg" alt="css3 Icon">
        <img src="../../../../assets/brands/javascript.svg" alt="javascript Icon">
        <img src="../../../../assets/brands/jquery.svg" alt="jquery Icon">
        <img src="../../../../assets/brands/bootstrap.svg" alt="bootstrap Icon">
        <img src="../../../../assets/brands/react.svg" alt="react Icon">
    </div>
    <div class="line-skills2">
        <img src="../../../../assets/brands/firebase.svg" alt="html5 Icon">
        <img src="../../../../assets/brands/sass.svg" alt="css3 Icon">
        <img src="../../../../assets/brands/angular.svg" alt="javascript Icon">
        <img src="../../../../assets/brands/typescript.svg" alt="jquery Icon">
        <img src="../../../../assets/brands/figma.svg" alt="bootstrap Icon">
        <img src="../../../../assets/brands/github.svg" alt="react Icon">
    </div>
</div>
