// Theme Dark Mode
$dark-color-black : #161616;
$dark-color-gray: #434345;
$dark-color-purple: #BEA9FF;
$dark-color-cyan: #01A7C2;
$dark-color-white: #DFF8EB;

// Theme Light Mode
$light-color-blue:#102e4a;
$light-color-green: #23ce6b;
$light-color-white: #f7f4ea;

