<div id="group-certifications" >
    <div class="fade" [ngStyle]="{'display': getChange? 'flex' :'none'}"></div>
    <div class="pack-certifications" [ngStyle]="{'display': getChange ? 'flex' :'none'}">

        <div class="col-certifications" >
            <span>Web Design Express - Danki Code</span>
            <span>React do Zero a Maestria - Hora de Codar</span>
            <span>React JS - Danki Code</span>
            <span>Potencia Tech Angular Developer - DIO</span>
            <span>Typescript ( c / React & Express ) - Hora de Codar </span>
            <span>Angular 2+ c/ Typescript - Udemy</span>
            <span>Projetos Ágeis com Scrum - DIO</span>
            <span>Web Master Front End 2.0 - Danki Code</span>
            <span>Git & GitHub para desenvolvedor - Geek University</span>
        </div>
        <div class="col-certifications">
            <span>Produtividade com VS Code - Cod3r</span>
            <span>Impulso Full Stack Web Developer - DIO</span>
            <span>Carrefour Web Developer - DIO</span>
            <span>Microsoft Power BI - Udemy</span>
            <span>Html 5 na Prática - Workover Academy</span>
            <span>Design Thinking - Terra</span>
            <span>Tecnologia da Informação e Comunicaçõa - Senai SP</span>
            <span>Pensamento computacional - DIO</span>
            <span>Lógica de Programação - Senai SP</span>
        </div>
        
        <div class="close">
            <button (click)="closeModal()" >Fechar</button>
        </div>
    </div>
    
    
</div>
