<div id="group-footer">
    <div id="title-footer">
        <h2>Contato</h2>
    </div>

    <div id="contacts">
        <a class="socials">
            <img src="../../../../assets/icons/github.svg" alt="Github Icon">
        </a>

        <a class="socials">
            <img src="../../../../assets/icons/linkedln.svg" alt="Linkedln Icon">
        </a>

        <a class="socials">
            <img src="../../../../assets/icons/email.svg" alt="Email Icon">
        </a>

        <a class="socials">
            <img src="../../../../assets/icons/whatsapp.svg" alt="Whatsapp Icon">
        </a>
    </div>
</div>
