<div id="group-footer">
    <div id="title-footer">
        <h2>Contato</h2>
    </div>

    <div id="contacts">
        <a class="socials" href="https://github.com/For-Davi" target="_blank">
            <img src="../../../../assets/icons/github.svg" alt="Github Icon">
        </a>

        <a class="socials" href="https://www.linkedin.com/in/carlos-davi-a0a810159/" target="_blank">
            <img src="../../../../assets/icons/linkedln.svg" alt="Linkedln Icon">
        </a>

        <a class="socials" href="mailto:carlosdavi004@gmail.com" target="_blank">
            <img src="../../../../assets/icons/email.svg" alt="Email Icon">
        </a>

        <a class="socials" href="https://wa.me/85981759726" target="_blank">
            <img src="../../../../assets/icons/whatsapp.svg" alt="Whatsapp Icon">
        </a>
    </div>

</div>
