<div id="highlights">
    
    <div class="highlights-rank"  (click)="openProject($event)">
        <img src="../../../../assets/projects/project-h1.png" alt="" [id]="'h1'">
    </div>
    <div class="highlights-rank" (click)="openProject($event)">
        <img src="../../../../assets/projects/project-h2.jpg" alt="" [id]="'h2'">
    </div>
    <div class="highlights-rank" [id]="'h3'" (click)="openProject($event)">
        <img src="../../../../assets/projects/project-h3.png" alt="" [id]="'h3'">
    </div>
</div>
<div id="projectAbout">
    <app-project-about *ngIf="statusProject" [id]="idProject" (close)="closeModal($event)"/> 
</div>   
 
