<div id="highlights">
    
    <div class="highlights-rank"  (click)="openProject($event)">
        <img src="../../../../assets/projects/project-h1.png" alt="" [id]="'h1'">
        <span>Em construção</span>
    </div>
    <div class="highlights-rank" (click)="openProject($event)">
        <img src="../../../../assets/projects/project-h2.png" alt="" [id]="'h2'">
        <span>Em construção</span>
    </div>
    <div class="highlights-rank" [id]="'h3'" (click)="openProject($event)">
        <img src="../../../../assets/projects/project-h3.png" alt="" [id]="'h3'">
        <span>Em construção</span>
    </div>
</div>  
<app-project-about *ngIf="statusProject" [id]="idProject"/>

