
<nav>

    <!-- navbar web -->
    <ul class="list-web">
        <li>Sobre</li>
        <li>Habilidades</li>
        <li>Certificações</li>
        <li>Projetos</li>
        <li>Contato</li>
    </ul>
    
    <!-- navbar mobile -->
    <button class="mobile-toggle" (click)="toogleList()">
        <fa-icon [icon]="hamburgerIcon" size="3x" *ngIf="!menuOpen"  [style.color]="'white'"></fa-icon>
        <fa-icon [icon]="closeIcon" size="3x" *ngIf="menuOpen" [style.color]="'white'"></fa-icon>
    </button>

    <ul class="list-mobile" *ngIf="menuOpen">
        <li>Sobre</li>
        <li>Habilidades</li>
        <li>Certificações</li>
        <li>Projetos</li>
        <li>Contato</li>
    </ul> 

    


</nav> 
