
<nav id="navbar">

    <!-- navbar web -->
    <ul class="list-web">
        <li>Sobre</li>
        <li (click)="goSection('skills')">Habilidades</li>
        <li (click)="goSection('certifications')">Certificações</li>
        <li (click)="goSection('projects')">Projetos</li>
        <li (click)="goSection('group-footer')">Contato</li> 
    </ul>
    
    <!-- navbar mobile -->
    <button class="mobile-toggle" (click)="toogleList()">
        <fa-icon [icon]="hamburgerIcon" size="3x" *ngIf="!menuOpen"  [style.color]="'white'"></fa-icon>
        <fa-icon [icon]="closeIcon" size="3x" *ngIf="menuOpen" [style.color]="'white'"></fa-icon>
    </button> 

    <ul class="list-mobile" *ngIf="menuOpen">
        <li (click)="goSection('navbar')">Sobre</li>
        <li (click)="goSection('skills')" >Habilidades</li>
        <li (click)="goSection('certifications')">Certificações</li>
        <li (click)="goSection('projects')">Projetos</li>
        <li (click)="goSection('group-footer')">Contato</li>
    </ul> 

    


</nav> 
