<div  id="group-sobre">
    <div id="left-sobre">
        <div id="title-office">
            <h2>Desenvolvedor Front End</h2>
        </div>
        
        <div id="user">
            <h3>Carlos Davi</h3>
        </div> 
         
        <div id="text-sobre">
            <p>
                Tenho 23 anos e sou formado em Engenharia de Produção. Após atuar em áreas industriais, decidi fazer a transição para a área de tecnologia, adquirindo competências significativas de um Desenvolvedor front end. Atualmente estudo para me tornar <span>Full Stack</span>. Posso destacar as habilidades principais sendo <span>Angular 2+</span> e <span>Vue</span>, tendo em vista que venho me completando com Backend em <span>PHP + Laravel</span>.
            </p>
        </div>

        <div id="informations">

            <div class="list-informations">
                <fa-icon [icon]="locationIcon"></fa-icon>
                <span>Maracanaú - CE, BR</span>
            </div>
            <div class="list-informations">
                <fa-icon [icon]="cakeIcon"></fa-icon>
                <span>23 Anos</span>
            </div>
            <div class="list-informations">
                <fa-icon [icon]="schoolIcon"></fa-icon>
                <span>Centro Universitário Estácio do Ceará</span>
            </div>

        </div>
    </div>

    <div id="right-sobre">
        <div id="photo">
            <div id="square1"></div>
            <div id="square2"></div>
            <div id="square3">
                <img src="../../../../assets/img/perfil-bg.png" alt=""/>
            </div>
        </div>

    </div> 

</div>