<div class="container">
    <header>
        <app-navbar/>
    </header>
    
        <a (click)="goHome()">
            <fa-icon [icon]="arrowIcon" size="2x" [style.color]="'white'">
            </fa-icon>
        </a>
    <main id="about">
        <app-user-blue-white/>
    </main>

    <section id="skills">
        <app-title-section [title]="'Habilidades'"/>
        <app-skills/>
    </section>

    <section id="certifications">
        <app-title-section [title]="'Certificações'"/>
        <app-dashboard />
    </section>

    <section id="projects">
        <app-title-section [title]="'Projetos'"/>
        <app-projects/>
    </section> 

    <footer>
        <app-footer/>
    </footer>
</div>

