<div id="more-projects">
    <div class="title-projects">
        <h3>+Projetos</h3>
    </div>

    <div class="pack-projects">
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h1.png" alt="">
            <span>Em construção</span>
        </div>
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h2.png" alt="">
            <span>Em construção</span>
        </div>
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h3.png" alt="">
            <span>Em construção</span>
        </div>
    </div>  

    <div class="pack-projects">
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h1.png" alt="">
            <span>Em construção</span>
        </div>
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h2.png" alt="">
            <span>Em construção</span>
        </div>
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h3.png" alt="">
            <span>Em construção</span>
        </div>
    </div>
</div>
