<div id="more-projects">
    <div class="title-projects">
        <h3>+Projetos</h3>
    </div>

    <div class="pack-projects">
        <div class="pack-projects-rank" (click)="openProject($event)">
            <img src="../../../../assets/projects/project-h1.png" alt=""  [id]="'h1'">
        </div>
        <div class="pack-projects-rank" (click)="openProject($event)">
            <img src="../../../../assets/projects/project-h2.png" alt=""  [id]="'h2'">
        </div>
        <div class="pack-projects-rank" (click)="openProject($event)">
            <img src="../../../../assets/projects/project-h3.png" alt=""  [id]="'h3'">
        </div>
    </div>  

    <div class="pack-projects" (click)="openProject($event)">
        <div class="pack-projects-rank">
            <img src="../../../../assets/projects/project-h2.png" alt="" [id]="'h2'">
        </div>
        <div class="pack-projects-rank" (click)="openProject($event)">
            <img src="../../../../assets/projects/project-h2.png" alt="" [id]="'h2'">
        </div>
        <div class="pack-projects-rank" (click)="openProject($event)">
            <img src="../../../../assets/projects/project-h3.png" alt="" [id]="'h3'">
        </div> 
    </div>
    <div id="projectAboutMore">
        <app-project-about *ngIf="statusProject" [id]="idProject" (close)="closeModal($event)"/>
    </div>
</div>
