<div id="group-dashboard">
    <div class="line1">
        <div class="dash">
            <span>+15</span>
            <span>Certificações</span>
        </div>
        <div class="dash">
            <span>3</span>
            <span>Bootcamps</span>
        </div>
    </div>
    <div class="line2">
        <div class="dash">
            <span>+10</span>
            <span>Tecnologias Aprendidas</span>
        </div>
        <div class="dash">
            <span>+700</span>
            <span>Horas de Estudo</span>
        </div>
    </div>

    <div class="line3">
        <p (click)="changeModal()">Clique aqui e veja mais sobre minhas certificações</p>
    </div>

    <app-certifications [getChange]="modalStatus" (setChange)="statusChange($event)"/> 
</div>
 