<div id="group-dashboard">
    <div class="line1">
        <div class="dash">
            <span>+15</span>
            <span>Certificações</span>
        </div>
        <div class="dash">
            <span>3</span>
            <span>Bootcamps</span>
        </div>
    </div>
    <div class="line2">
        <div class="dash">
            <span>+10</span>
            <span>Tecnologias Aprendidas</span>
        </div>
        <div class="dash">
            <span>+600</span>
            <span>Horas de Estudo</span>
        </div>
    </div>

    <div class="line3">
        <p>Clique aqui e veja mais sobre minhas certificações</p>
    </div>

</div>
 